In [1]:
# Import dependencies
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectFromModel

In [2]:
train_df = pd.read_csv(Path('Resources/2019loans.csv'))
test_df = pd.read_csv(Path('Resources/2020Q1loans.csv'))

In [3]:
# Checking train_df for checking the data type and null values
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12180 entries, 0 to 12179
Data columns (total 86 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  12180 non-null  int64
 1   index                       12180 non-null  int64
 2   loan_amnt                   12180 non-null  float64
 3   int_rate                    12180 non-null  float64
 4   installment                 12180 non-null  float64
 5   home_ownership              12180 non-null  object
 6   annual_inc                  12180 non-null  float64
 7   verification_status         12180 non-null  object
 8   loan_status                 12180 non-null  object
 9   pymnt_plan                  12180 non-null  object
 10  dti                         12180 non-null  float64
 11  delinq_2yrs                 12180 non-null  float64
 12  inq_last_6mths              12180 non-null  float64
 13  open_acc                    12180 non-null  float64
 14  pub_rec                     12180 non-null  float64
 15  revol_bal                   12180 non-null  float64
 16  total_acc                   12180 non-null  float64
 17  initial_list_status         12180 non-null  object
 18  out_prncp                   12180 non-null  float64
 19  out_prncp_inv               12180 non-null  float64
 20  total_pymnt                 12180 non-null  float64
 21  total_pymnt_inv             12180 non-null  float64
 22  total_rec_prncp             12180 non-null  float64
 23  total_rec_int               12180 non-null  float64
 24  total_rec_late_fee          12180 non-null  float64
 25  recoveries                  12180 non-null  float64
 26  collection_recovery_fee     12180 non-null  float64
 27  last_pymnt_amnt             12180 non-null  float64
 28  collections_12_mths_ex_med  12180 non-null  float64
 29  policy_code                 12180 non-null  float64
 30  application_type            12180 non-null  object
 31  acc_now_delinq              12180 non-null  float64
 32  tot_coll_amt                12180 non-null  float64
 33  tot_cur_bal                 12180 non-null  float64
 34  open_acc_6m                 12180 non-null  float64
 35  open_act_il                 12180 non-null  float64
 36  open_il_12m                 12180 non-null  float64
 37  open_il_24m                 12180 non-null  float64
 38  mths_since_rcnt_il          12180 non-null  float64
 39  total_bal_il                12180 non-null  float64
 40  il_util                     12180 non-null  float64
 41  open_rv_12m                 12180 non-null  float64
 42  open_rv_24m                 12180 non-null  float64
 43  max_bal_bc                  12180 non-null  float64
 44  all_util                    12180 non-null  float64
 45  total_rev_hi_lim            12180 non-null  float64
 46  inq_fi                      12180 non-null  float64
 47  total_cu_tl                 12180 non-null  float64
 48  inq_last_12m                12180 non-null  float64
 49  acc_open_past_24mths        12180 non-null  float64
 50  avg_cur_bal                 12180 non-null  float64
 51  bc_open_to_buy              12180 non-null  float64
 52  bc_util                     12180 non-null  float64
 53  chargeoff_within_12_mths    12180 non-null  float64
 54  delinq_amnt                 12180 non-null  float64
 55  mo_sin_old_il_acct          12180 non-null  float64
 56  mo_sin_old_rev_tl_op        12180 non-null  float64
 57  mo_sin_rcnt_rev_tl_op       12180 non-null  float64
 58  mo_sin_rcnt_tl              12180 non-null  float64
 59  mort_acc                    12180 non-null  float64
 60  mths_since_recent_bc        12180 non-null  float64
 61  mths_since_recent_inq       12180 non-null  float64
 62  num_accts_ever_120_pd       12180 non-null  float64
 63  num_actv_bc_tl              12180 non-null  float64
 64  num_actv_rev_tl             12180 non-null  float64
 65  num_bc_sats                 12180 non-null  float64
 66  num_bc_tl                   12180 non-null  float64
 67  num_il_tl                   12180 non-null  float64
 68  num_op_rev_tl               12180 non-null  float64
 69  num_rev_accts               12180 non-null  float64
 70  num_rev_tl_bal_gt_0         12180 non-null  float64
 71  num_sats                    12180 non-null  float64
 72  num_tl_120dpd_2m            12180 non-null  float64
 73  num_tl_30dpd                12180 non-null  float64
 74  num_tl_90g_dpd_24m          12180 non-null  float64
 75  num_tl_op_past_12m          12180 non-null  float64
 76  pct_tl_nvr_dlq              12180 non-null  float64
 77  percent_bc_gt_75            12180 non-null  float64
 78  pub_rec_bankruptcies        12180 non-null  float64
 79  tax_liens                   12180 non-null  float64
 80  tot_hi_cred_lim             12180 non-null  float64
 81  total_bal_ex_mort           12180 non-null  float64
 82  total_bc_limit              12180 non-null  float64
 83  total_il_high_credit_limit  12180 non-null  float64
 84  hardship_flag               12180 non-null  object
 85  debt_settlement_flag        12180 non-null  object
dtypes: float64(76), int64(2), object(8)
memory usage: 8.0+ MB

In [4]:
# Checking test_df for checking the data type and null values
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4702 entries, 0 to 4701
Data columns (total 86 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  4702 non-null   int64
 1   index                       4702 non-null   int64
 2   loan_amnt                   4702 non-null   float64
 3   int_rate                    4702 non-null   float64
 4   installment                 4702 non-null   float64
 5   home_ownership              4702 non-null   object
 6   annual_inc                  4702 non-null   float64
 7   verification_status         4702 non-null   object
 8   loan_status                 4702 non-null   object
 9   pymnt_plan                  4702 non-null   object
 10  dti                         4702 non-null   float64
 11  delinq_2yrs                 4702 non-null   float64
 12  inq_last_6mths              4702 non-null   float64
 13  open_acc                    4702 non-null   float64
 14  pub_rec                     4702 non-null   float64
 15  revol_bal                   4702 non-null   float64
 16  total_acc                   4702 non-null   float64
 17  initial_list_status         4702 non-null   object
 18  out_prncp                   4702 non-null   float64
 19  out_prncp_inv               4702 non-null   float64
 20  total_pymnt                 4702 non-null   float64
 21  total_pymnt_inv             4702 non-null   float64
 22  total_rec_prncp             4702 non-null   float64
 23  total_rec_int               4702 non-null   float64
 24  total_rec_late_fee          4702 non-null   float64
 25  recoveries                  4702 non-null   float64
 26  collection_recovery_fee     4702 non-null   float64
 27  last_pymnt_amnt             4702 non-null   float64
 28  collections_12_mths_ex_med  4702 non-null   float64
 29  policy_code                 4702 non-null   float64
 30  application_type            4702 non-null   object
 31  acc_now_delinq              4702 non-null   float64
 32  tot_coll_amt                4702 non-null   float64
 33  tot_cur_bal                 4702 non-null   float64
 34  open_acc_6m                 4702 non-null   float64
 35  open_act_il                 4702 non-null   float64
 36  open_il_12m                 4702 non-null   float64
 37  open_il_24m                 4702 non-null   float64
 38  mths_since_rcnt_il          4702 non-null   float64
 39  total_bal_il                4702 non-null   float64
 40  il_util                     4702 non-null   float64
 41  open_rv_12m                 4702 non-null   float64
 42  open_rv_24m                 4702 non-null   float64
 43  max_bal_bc                  4702 non-null   float64
 44  all_util                    4702 non-null   float64
 45  total_rev_hi_lim            4702 non-null   float64
 46  inq_fi                      4702 non-null   float64
 47  total_cu_tl                 4702 non-null   float64
 48  inq_last_12m                4702 non-null   float64
 49  acc_open_past_24mths        4702 non-null   float64
 50  avg_cur_bal                 4702 non-null   float64
 51  bc_open_to_buy              4702 non-null   float64
 52  bc_util                     4702 non-null   float64
 53  chargeoff_within_12_mths    4702 non-null   float64
 54  delinq_amnt                 4702 non-null   float64
 55  mo_sin_old_il_acct          4702 non-null   float64
 56  mo_sin_old_rev_tl_op        4702 non-null   float64
 57  mo_sin_rcnt_rev_tl_op       4702 non-null   float64
 58  mo_sin_rcnt_tl              4702 non-null   float64
 59  mort_acc                    4702 non-null   float64
 60  mths_since_recent_bc        4702 non-null   float64
 61  mths_since_recent_inq       4702 non-null   float64
 62  num_accts_ever_120_pd       4702 non-null   float64
 63  num_actv_bc_tl              4702 non-null   float64
 64  num_actv_rev_tl             4702 non-null   float64
 65  num_bc_sats                 4702 non-null   float64
 66  num_bc_tl                   4702 non-null   float64
 67  num_il_tl                   4702 non-null   float64
 68  num_op_rev_tl               4702 non-null   float64
 69  num_rev_accts               4702 non-null   float64
 70  num_rev_tl_bal_gt_0         4702 non-null   float64
 71  num_sats                    4702 non-null   float64
 72  num_tl_120dpd_2m            4702 non-null   float64
 73  num_tl_30dpd                4702 non-null   float64
 74  num_tl_90g_dpd_24m          4702 non-null   float64
 75  num_tl_op_past_12m          4702 non-null   float64
 76  pct_tl_nvr_dlq              4702 non-null   float64
 77  percent_bc_gt_75            4702 non-null   float64
 78  pub_rec_bankruptcies        4702 non-null   float64
 79  tax_liens                   4702 non-null   float64
 80  tot_hi_cred_lim             4702 non-null   float64
 81  total_bal_ex_mort           4702 non-null   float64
 82  total_bc_limit              4702 non-null   float64
 83  total_il_high_credit_limit  4702 non-null   float64
 84  hardship_flag               4702 non-null   object
 85  debt_settlement_flag        4702 non-null   object
dtypes: float64(76), int64(2), object(8)
memory usage: 3.1+ MB

In [5]:
# Convert categorical data to numeric and separate target feature for training data
y_train = train_df["loan_status"]
X_train = train_df.drop(columns = ["loan_status"])
X_train = pd.get_dummies(X_train)
X_train.head()

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,verification_status_Verified,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
0,57107,57107,13375.0,0.1797,483.34,223000.0,29.99,0.0,0.0,15.0,...,0,1,0,1,1,0,1,0,1,0
1,141451,141451,21000.0,0.1308,478.68,123000.0,11.26,2.0,0.0,16.0,...,0,1,0,1,1,0,1,0,1,0
2,321143,321143,20000.0,0.1240,448.95,197000.0,11.28,0.0,0.0,12.0,...,0,1,0,1,1,0,1,0,1,0
3,11778,11778,3000.0,0.1240,100.22,45000.0,18.08,0.0,0.0,12.0,...,0,1,0,1,1,0,1,0,1,0
4,169382,169382,30000.0,0.1612,1056.49,133000.0,27.77,0.0,2.0,13.0,...,0,1,0,1,1,0,1,0,1,0

In [6]:
# Convert categorical data to numeric and separate target feature for testing data
y_test = test_df["loan_status"]
X_test = test_df.drop(columns = ["loan_status"])
X_test = pd.get_dummies(X_test)
X_test.head()

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,verification_status_Source Verified,verification_status_Verified,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N
0,67991,67991,40000.0,0.0819,814.70,140000.0,19.75,0.0,1.0,18.0,...,0,0,1,0,1,1,0,1,0,1
1,25429,25429,6000.0,0.1524,208.70,55000.0,11.52,2.0,0.0,8.0,...,0,0,1,0,1,1,0,1,0,1
2,38496,38496,3600.0,0.1695,128.27,42000.0,6.74,0.0,0.0,6.0,...,0,0,1,0,1,1,0,1,0,1
3,19667,19667,20000.0,0.1524,478.33,100000.0,12.13,0.0,2.0,7.0,...,0,0,1,0,1,1,0,1,0,1
4,37505,37505,3600.0,0.1240,120.27,50000.0,16.08,0.0,3.0,6.0,...,0,0,1,0,1,1,0,1,0,1

In [7]:
# add missing dummy variables to testing set
# Get the name of missing columns
missing_cols = set( X_train.columns ) - set( X_test.columns )
print(missing_cols)
# Add the missing columns in the testing set and filling them with 0
for col in missing_cols:
    X_test[col] = 0

# Align the order of the columns in the training and testing sets
X_train, X_test = X_train.align(X_test, axis=1)

# Confirm that the columns are aligned and none is missing
X_train.columns==X_test.columns

{'debt_settlement_flag_Y'}

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [8]:
# Train the Logistic Regression model on the unscaled data and print the model score
reg = LogisticRegression(solver='lbfgs', 
    max_iter=100,
    random_state=0
).fit(X_train, y_train)
reg.score(X_test, y_test)

print('Logisitc Regression Model - Unscaled Data')
print("------------------------------------------")
print(f'Training Score: {reg.score(X_train, y_train)}')
print(f'Testing Score: {reg.score(X_test, y_test)}')

Logisitc Regression Model - Unscaled Data
------------------------------------------
Training Score: 0.648440065681445
Testing Score: 0.5253083794130158

/Users/prajesh/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [9]:
# Train a Random Forest Classifier model and print the model score
randomForestClass = RandomForestClassifier(random_state=40,n_estimators=200).fit(X_train,y_train)
randomForestClass.fit(X_train, y_train)

print('Random Forest Classifier Model - Unscaled Data')
print("------------------------------------")
print(f'Training Score: {randomForestClass.score(X_train, y_train)}')
print(f'Testing Score: {randomForestClass.score(X_test, y_test)}')

Random Forest Classifier Model - Unscaled Data
------------------------------------
Training Score: 1.0
Testing Score: 0.6086771586558911

In [10]:
# Scale the data
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [11]:
# Train the Logistic Regression model on the scaled data and print the model score
logReg = LogisticRegression(
    solver='lbfgs',
    max_iter=100,
    random_state=0
)
logReg.fit(X_train_scaled, y_train)

print('Logisitc Regression Model - Scaled Data')
print("----------------------------------------")
print(f'Training Score: {logReg.score(X_train_scaled, y_train)}')
print(f'Testing Score: {logReg.score(X_test_scaled, y_test)}')

Logisitc Regression Model - Scaled Data
----------------------------------------
Training Score: 0.713136288998358
Testing Score: 0.7201190982560612

/Users/prajesh/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [13]:
# Train a Random Forest Classifier model on the scaled data and print the model score

rndmForClass = RandomForestClassifier(random_state=1,n_estimators=500).fit(X_train_scaled,y_train)
rndmForClass.fit(X_train_scaled, y_train)
print('Random Forest Classifier Model - Scaled Data')
print("--------------------------------------------")
print("Training Score: ", rndmForClass.score(X_train_scaled, y_train))
print("Testing Score: ", rndmForClass.score(X_test_scaled, y_test))

Random Forest Classifier Model - Scaled Data
--------------------------------------------
Training Score:  1.0
Testing Score:  0.6193109315185028

# Results and Predictions

## Logisitc Regression Model - Unscaled Data

Training Score: 0.648440065681445 
<br>
<br>
Testing Score: 0.5253083794130158

## Random Forest Classifier Model - Unscaled Data

Training Score: 1.0 <br>
<br>
Testing Score: 0.6086771586558911

## Logisitc Regression Model - Scaled Data

Training Score: 0.713136288998358 <br>
<br>
Testing Score: 0.7201190982560612

## Random Forest Classifier Model - Scaled Data

Training Score:  1.0 <br>
<br>
Testing Score:  0.6193109315185028

Based on the result analysis, It shows that Logistic Regression Model does better than Random Forest Model. Also, random forest classifier did not benefit much from scaling but Logistic regression did.